BLOCK RESETPATHS; 
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "T6";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "data_adc[0]" SITE "C4";
IOBUF PORT     "data_adc[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "data_adc[1]" SITE "D4";
IOBUF PORT     "data_adc[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "data_adc[2]" SITE "E4";
IOBUF PORT     "data_adc[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "data_adc[3]" SITE "D3";
IOBUF PORT     "data_adc[3]" IO_TYPE=LVCMOS33;
LOCATE COMP    "EOC" SITE "E3";
IOBUF PORT     "EOC" IO_TYPE=LVCMOS33;
LOCATE COMP    "INIT_SIGNAL" SITE "F3";
IOBUF PORT     "INIT_SIGNAL" IO_TYPE=LVCMOS33;
LOCATE COMP    "oe" SITE "F5";
IOBUF PORT     "oe" IO_TYPE=LVCMOS33;
LOCATE COMP    "CLK_ADC" SITE "G3";
IOBUF PORT     "CLK_ADC" IO_TYPE=LVCMOS33;
LOCATE COMP    "channel" SITE "G4";
IOBUF PORT     "channel" IO_TYPE=LVCMOS33;
LOCATE COMP    "ale" SITE "H3";
IOBUF PORT     "ale" IO_TYPE=LVCMOS33;
LOCATE COMP    "leds_out[0]" SITE "M3";
IOBUF PORT     "leds_out[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "leds_out[1]" SITE "N1";
IOBUF PORT     "leds_out[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "leds_out[2]" SITE "M4";
IOBUF PORT     "leds_out[2]" IO_TYPE=LVCMOS33;
