BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock input (25 MHz)
LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Reset button
LOCATE COMP "rst" SITE "R7";
IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# Init signal (puede ser un botón o jumper)
# LOCATE COMP "init" SITE "T7";  # Descomenta si tienes un pin físico
# IOBUF PORT "init" PULLMODE=UP IO_TYPE=LVCMOS33;

# LED Panel Clock
LOCATE COMP "LP_CLK" SITE "M3";
IOBUF PORT "LP_CLK" IO_TYPE=LVCMOS33 DRIVE=8;
FREQUENCY PORT "LP_CLK" 25.0 MHz;

# Latch
LOCATE COMP "LATCH" SITE "N1";
IOBUF PORT "LATCH" IO_TYPE=LVCMOS33 DRIVE=8;

# Output Enable (active low)
LOCATE COMP "NOE" SITE "M4";
IOBUF PORT "NOE" IO_TYPE=LVCMOS33 DRIVE=8;

# Row select (address lines A, B, C, D, E)
LOCATE COMP "ROW[0]" SITE "N5";  # A
IOBUF PORT "ROW[0]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "ROW[1]" SITE "N3";  # B
IOBUF PORT "ROW[1]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "ROW[2]" SITE "P3";  # C
IOBUF PORT "ROW[2]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "ROW[3]" SITE "P4";  # D
IOBUF PORT "ROW[3]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "ROW[4]" SITE "N4";  # E
IOBUF PORT "ROW[4]" IO_TYPE=LVCMOS33 DRIVE=8;

# RGB0 - Upper half
LOCATE COMP "RGB0[0]" SITE "J13";  # R0
IOBUF PORT "RGB0[0]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "RGB0[1]" SITE "K13";  # G0
IOBUF PORT "RGB0[1]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "RGB0[2]" SITE "J12";  # B0
IOBUF PORT "RGB0[2]" IO_TYPE=LVCMOS33 DRIVE=8;

# RGB1 - Lower half
LOCATE COMP "RGB1[0]" SITE "H13";  # R1
IOBUF PORT "RGB1[0]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "RGB1[1]" SITE "H12";  # G1
IOBUF PORT "RGB1[1]" IO_TYPE=LVCMOS33 DRIVE=8;

LOCATE COMP "RGB1[2]" SITE "G12";  # B1
IOBUF PORT "RGB1[2]" IO_TYPE=LVCMOS33 DRIVE=8;